<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="preorder" translate="label" sortOrder="600">
            <label>Pre Order Discount</label>
        </tab>
        <section id="preorder" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Pre Order</label>
            <tab>preorder</tab>
            <resource>Dico_Preorder::config_discount</resource>
            <group id="preorder_discount" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pre Order Discount</label>
                <field id="discount" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Discount</label>
                </field>
            </group>
        </section>
    </system>
</config>
